a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.nav-signup, .nav-login, .nav-training, .nav-logout {
    display: inline-block;
    padding-left: 8px;
}