<mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="onClose()" *ngIf="!(isAuth$ | async)">
        <mat-icon>face</mat-icon>
        <span class="nav-signup">Sign Up</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!(isAuth$ | async)">
        <mat-icon>login</mat-icon>
        <span class="nav-login">Login</span>
    </a>
    <a mat-list-item routerLink="/training" (click)="onClose()" *ngIf="isAuth$ | async">
        <mat-icon>fitness_center</mat-icon>
        <span class="nav-training">Training</span>
    </a>
    <mat-list-item *ngIf="isAuth$ | async">
        <button mat-icon-button (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>
            <span style="cursor: pointer" class="nav-logout" (click)="onLogout()">Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list>
